<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Compute Peer Review Results</h1>

      <p>Submissions currently available: <%= @peer_review_submissions.count %>
      (out of <%= @course.students.count %> total students).</p>

      <%= form_with(url: score_course_peer_review_results_path(course: @course), method: "post", local: true) do |form| %>
        <%= form.submit "Compute Peer Review Results", class: 'btn btn-primary', data: { confirm: 'Are you sure? This will send Peer Review grades to Canvas for all students.' } %>
      <% end %>
      <br>

      <p>Students who have submitted Peer Reviews:</p>

      <ul>
        <% @peer_review_submissions.each do |submission| %>
          <li><%= submission.user.full_name %></li>
        <% end %>
      </ul>

      <p>Students who have not yet submitted Peer Reviews:</p>

      <ul>
        <% remaining_students = @course.students.uniq - @peer_review_submissions.map { |s| s.user } %>
        <% remaining_students.each do |student| %>
          <li><%= student.full_name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
