<% content_for :title, 'Braven Login'  %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'network', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%# <%= javascript_pack_tag 'network' %>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<% end %>

<% content_for :content do %>
  <%= render partial: 'shared/header' %>
  <div class="plank plain-md" style="padding-top: 32px; padding-bottom: 32px;">
    <div class="section-container" style="min-height: 540px;">
      <section>
      <%= yield %>
      </section>
    </div>
  </div>  <%= render :partial => 'shared/footer' %>
<% end %>

<%= render template: "layouts/application" %>
